html, body {
  height: 100vh;
  width: 100vw;
  background-color: #1B1C2B;
}

div.container, 
div.row, 
div.col {
    padding: 0;
    margin: 0;
}

.btn {
    color: #fff;
    background-color: #2E324A;
    border-color: #2E324A;
}

.btn:hover {
    color: #fff;
    background-color: #242a44;
    border-color: #242a44;
}

.btn:active {
    color: #fff;
    background-color: #242a44;
    border-color: #242a44;
}