.upload-button {
    margin-top: 30px;
    color: #fff;
    background-color: #2E324A;
    border-color: #2E324A;
}

.upload-button:hover {
    color: #fff;
    background-color: #242a44;
    border-color: #242a44;
}

.upload-button::-webkit-file-upload-button {
    visibility: hidden;
}

.upload-button::before {
    content: 'Choose File';
    display: inline-block;
    padding: 6px;
}

.upload-button:hover::before {
    color: #fff;
    background-color: #2E324A;
    border-color: #2E324A;
}

.upload-button:active::before {
    color: #fff;
    background-color: #2E324A;
    border-color: #2E324A;
}