h1 {
    color: white;
    font-size: 1.4em;
}

span {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1em;
}

#upload-container {
    margin-top: 15vh;
    display: flex;
}

.block-container {
    display: block;
}

.upload-icon {
    margin: 25px;
    position: relative;
    top: -17px;
    align-self: center;
}

.upload-button {
    margin-top: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #2E324A;
  border-color: #2E324A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #242a44;
  border-color: #242a44;
}